.caja {
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin: 100px;
    box-shadow: 20px 30px 10px black;
}

.caja2 {
    width: 300px;
    height: 300px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px;
}

.texto {
    background-color: yellow;
    column-count: 2;
    column-gap: 50px;
}

.texto p {
    margin: 0;
}