.contenedor {
    border: 3px solid black;
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-end;
}

.caja1 {
    background-color: red;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja2 {
    background-color: blue;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja3 {
    background-color: green;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: white;
}